body {
	margin: 0;
	padding: 0;
}

#box1 {
	width: 250px;
	height: 250px;
	border: 5px solid;
	font-size: 13em;
	text-align: center;
	background-color: green;
	/* --------------------------------------------------------------------- */
	/* transform: translate(50px, 50px); */

	/* transform: rotateX(0) rotateY(0) rotateZ(45deg); */

	/* transform: scale(0, 0); */

	/* transform: skew(0, 0); */

	/* transform: translateX(100%) rotateZ(90deg) scale(0.5); */
	/* --------------------------------------------------------------------- */
}
