#myH1 {
	font-size: 5rem;
}

#myButton {
	font-size: 4rem;
	margin: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
}

.enabled {
	background-color: #4CAF50; /* Green */
	color: white;
}

.hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-weight: bold;
}

.disabled {
	background-color: #f44336; /* Red */
	color: white;
}
