.icons {
	text-align: center;
}
.fa-solid.fa-house.fa-5x {
	color: gray;
}
.fa-solid.fa-house.fa-5x:hover {
	color: lightgray;
}
.fa-brands.fa-twitter.fa-5x {
	color: #1da1f2;
}
.fa-brands.fa-twitter.fa-5x:hover {
	color: #00acee;
}
.fa-brands.fa-youtube.fa-5x {
	color: #ff0000;
}
.fa-brands.fa-youtube.fa-5x:hover {
	color: tomato;
}
.fa-brands.fa-tiktok.fa-5x {
	color: #000000;
}
.fa-brands.fa-tiktok.fa-5x:hover {
	color: #000050;
}
.icons a {
	text-decoration: none;
	margin-right: 20px;
}
