.form {
	margin: 10px auto 30px;
}

.form input {
	padding: 5px 10px;
	border: none;
	outline: none;
	transition: border-color 0.4s ease;
	border: 1px solid transparent;
	margin-bottom: 10px;
	font-family: 'Golos Text', sans-serif;
}

.form input:hover {
	border-color: aqua;
}

