.gallery {
	display: inline-block;
	border: 1px solid #ccc;
	margin: 5px;
	width: 200px;
}
.gallery .description {
	text-align: center;
	padding: 10px;
}
.gallery:hover {
	border: 1px solid #777;
}
.gallery img {
	width: 100%;
	height: auto;
}
